<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juke</title>
	<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="/bootstrap-dark.css" rel="stylesheet" />
	<link href="/style.css" rel="stylesheet" />
	<script src="/angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="albumControl.js"></script>
	<script src="playerControl.js"></script>

</head>
<body ng-app="juke">
	<div id="main" class="container-fluid">
		<div class="col-xs-2">
			<sidebar>
        <img src="juke.svg" class="logo">
				<section>
					<h4 class="playlist-item active">
						<a href="#">ALBUMS</a>
					</h4>
				</section>
			</sidebar>
		</div>

		<div class="col-xs-10">
		<div class="album" ng-controller= "AlbumControl as albumCtrl">
			<p>
				<h3>{{albumCtrl.album.name}}</h3>
				<img ng-src="{{albumCtrl.getAlbumImage()}}" class="img-thumbnail">
			</p>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Artist</th>
						<th>Genres</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "song in albumCtrl.album.songs" ng-class="{ active: albumCtrl.currentSong === song._id }">
						<td>
	                   		<button class="btn btn-default btn-xs" ng-click="albumCtrl.playSong(song._id)" ng-hide="albumCtrl.isPlaying && albumCtrl.currentSong === song._id">
                        		<span class="glyphicon glyphicon-play"></span>
							</button>
							<button class="btn btn-default btn-xs" ng-click="albumCtrl.pauseSong()" ng-show="albumCtrl.isPlaying && albumCtrl.currentSong === song._id">
								<span class="glyphicon glyphicon-pause"></span>
							</button>

						</td>
						<td>{{song.name}}</td>
						<td>
							{{albumCtrl.getArtists(song)}}
						</td>
						<td>
							{{song.genres.join(", ")}}
						</td>
					</tr>
				</tbody>
			</table>

		</div>			


			
		</div>

		<footer>
			<div ng-show="!!plyrCtrl.currentSong" ng-controller="PlayerControl as plyrCtrl">
				<div class="pull-left">
					<button class="btn btn-default" ng-click="plyrCtrl.previousSong()">
						<span class="glyphicon glyphicon-step-backward"></span>
					</button>
					<button class="btn btn-default" ng-click="plyrCtrl.playSong()" ng-hide="plyrCtrl.isPlaying()">
						<span class="glyphicon glyphicon-play"></span>
					</button>
					<button class="btn btn-default" ng-click="plyrCtrl.pauseSong()" ng-show="plyrCtrl.isPlaying()">
						<span class="glyphicon glyphicon-pause"></span>
					</button>
					<button class="btn btn-default" ng-click="plyrCtrl.nextSong()">
						<span class="glyphicon glyphicon-step-forward"></span>
					</button>
					<button class="btn btn-default" ng-class="{active: plyrCtrl.shuffleOn}" ng-click="plyrCtrl.playRandom()">
						<span class="glyphicon glyphicon-random" ></span>
					</button>
				</div>
				<div class="bar">
					<div class="progress" ng-click="plyrCtrl.progressBarClick($event)">
						<div class="progress-bar" ng-style="{width: plyrCtrl.progress + '%'}"></div>
					</div>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>
